h1{
    color: magenta;
}
p.rojo{
    color: red;
}
main :first-child{
    color:blu;
}
a:link{
    background-color:yellow;
}
a:visited{
    background-color: green;
    color: white;
}
a:hover{
    background-color: aqua;
    color: red;
    
}
a:active{
    font-size: xx-large;
}
.parrafo2:hover{
    background-color: yellow;
    color: white;
}
input:focus{
    background-color: orange;
    border: brown 3px solid;
}
.linea::first-line{
   background-color: blue;
    text-transform:capitalize ;
    
}
p.parrafo::first-letter{
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
    font-style: oblique;
    font-size: xx-large;
    
}


